html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(232, 228, 228);
  overflow-x: hidden;
}

/* Landing page */
#myContainer {
  padding-top: 10%;
  padding-bottom: 1%;
  background-color: black;
}

/* ---- About me section ---- */
.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  padding-top: 50%;
  padding-bottom: 50%;
}

/* Left side */
#about-me-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  width: 30%;
}

#img_1 {
  position: relative;
  width: 100%;
  z-index: 2;
}

#img_2 {
  position: relative;
  width: 80%;
  right: 15%;
  top: 30%;
  z-index: 1;
}

/* Right side */
#about-me-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  width: 30%;
}

#about-me-right p {
  font-size: 10px;
}

#code_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#code_logo img {
  width: 20%;
}

canvas {
  display: block;
}

/* ---- Projects section ---- */

.projects {
  background-color: black;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 50%;
  padding-bottom: 50%;
}

.projects h1 {
  padding-bottom: 20%;
  margin: auto;
  width: 50%;
  text-align: center;
}

.carousel {
  display: inline-flex;
  animation: 5s carousel infinite linear;
}

.carousel:hover {
  animation-play-state: paused;
}

.carousel_item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 100%;
  margin: 1rem;
  background-color: white;
  color: black;
}

.carousel_item img {
  width: 100%;
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ---- Contact me ---- */

.contact_me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  padding-top: 50%;
  padding-bottom: 50%;
}

.contact_me_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  font-size: 3vw;
  padding-bottom: 10%;
  width: 50%;
}

.contact_me_media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.contact_me_media img {
  width: 100%;
  max-height: 150px;
  margin: 0%;
  border-color: red;
}

.contact_me_media_top_photo {
  position: relative;
  z-index: 1;
}

.contact_me_media_bottom_photo {
  position: absolute;
  margin-top: -150px;
  z-index: 0;
}

.contact_me_media_top_photo:hover img {
  animation: 2s slide-out forwards;
}

.contact_me_media_top_photo:not(hover) img {
  animation: 2s slide-in forwards;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 100%;
  }
  to {
    transform: translateX(100%);
    opacity: 0%;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0%;
  }
  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}
