/* Custom font */
@font-face {
  font-family: "Nunito";
  src: url(media/font/Nunito-VariableFont_wght.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(232, 228, 228);
  overflow-x: hidden;
  font-family: "Nunito";
  scroll-behavior: smooth;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 100; /* Above everything! */
  height: 5%;
}

.menu button {
  cursor: pointer;
  color: white;
  font-size: 1.9vw;
  border: none;
  background: none;
  font-family: "Nunito";
}

.menu button:hover {
  color: rgb(172, 162, 162);
  font-size: 1.7vw;
}

.menu p {
  color: white;
  font-size: 1.7vw;
}

/* Landing page */
#myContainer {
  padding-top: 10%;
  padding-bottom: 0%;
  background-color: black;
}

/* ---- About me section ---- */
.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  padding-top: 10%;
  padding-bottom: 10%;
}

/* Left side */
#about-me-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  width: 30%;
}

#img_1 {
  position: relative;
  width: 100%;
  z-index: 2;
}

#img_2 {
  position: relative;
  width: 80%;
  right: 15%;
  top: 30%;
  z-index: 1;
}

/* Right side */
#about-me-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  width: 50%;
}

#about-me-right h2 {
  font-size: 3.5vw;
}

#about-me-right p {
  font-size: 3vw;
}

#code_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#code_logo img {
  width: 10%;
}

canvas {
  display: block;
}

/* ---- Projects section ---- */

.projects {
  background-color: black;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 5%;
  padding-bottom: 10%;
}

.projects h1 {
  padding-bottom: 5%;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 5vw;
}

.projects h5 {
  padding-top: 10px;
  margin: 0;
}

.projects p {
  font-size: 10px;
}

/* Carousels are separated because it will be transformed into a slideshow, this is for smartphone screens. */

/* First carousel. */
.carousel_1 {
  display: inline-flex;
  animation: 13s carousel infinite linear;
}

.carousel_1:hover {
  animation-play-state: paused;
}

/* Second carousel.  */
.carousel_2 {
  display: inline-flex;
  animation: 13s carousel infinite linear;
}

.carousel_2:hover {
  animation-play-state: paused;
}

.carousel_item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 100%;
  margin: 1rem;
  background-color: rgb(232, 228, 228);
  color: black;
}

.carousel_item img {
  width: 100%;
  height: 100%;
}

.carousel_item h5 {
}

.carousel_item p {
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Disable previous and next buttons, current slide number and the dots. */
.prev,
.next {
  display: none;
}

.numbertext {
  display: none;
}

.dot {
  display: none;
}

/* ---- Contact me ---- */

.contact_me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  padding-top: 10%;
  padding-bottom: 10%;
}

.contact_me_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  font-size: 3vw;
  padding-bottom: 4%;
  width: 50%;
}

.contact_me_media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.contact_me_media img {
  width: 100%;
  max-height: 150px;
  margin: 0%;
  border-color: red;
  border-left: 300px;
}

.contact_me_media_top_photo {
  position: relative;
  z-index: 1;
}

.contact_me_media_bottom_photo {
  position: absolute;
  margin-top: -150px;
  z-index: 0;
}

.contact_me_media_top_photo:hover img {
  animation: 2s slide-out forwards;
}

.contact_me_media_top_photo:not(hover) img {
  animation: 2s slide-in forwards;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    /* opacity: 100%; */
  }
  to {
    transform: translateX(100%);
    /* opacity: 0%; */
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    /* opacity: 0%; */
  }
  to {
    transform: translateX(0%);
    /* opacity: 100%; */
  }
}

/* Media queries. */
@media only screen and (max-width: 810px) {
  /* About me  */
  .contact_me_media_top_photo {
    position: relative;
    z-index: 0;
  }

  .contact_me_media_bottom_photo {
    position: absolute;
    margin-top: -200px;
    z-index: 1;
  }

  /* Transform carousel into slideshow. */

  .projects {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .carousel_1 {
    animation: none;
  }

  .carousel_1 .carousel_item {
    display: none;
  }

  .prev,
  .next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
  }

  /* Caption text */
  .carousel_item h5 {
    position: absolute;
    color: white;
    bottom: 3%;
    padding-left: 22%;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 4vw;
  }

  .carousel_item p {
    position: absolute;
    color: white;
    bottom: 1%;
    padding-left: 22%;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 3vw;
  }

  /* Number text (1/4 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* !!!!!!!!!!!!!!! */
  /* Never display carousel 2. It is just a duplicate to generate the carousel effect. */
  /* !!!!!!!!!!!!!!! */

  .carousel_2 {
    display: none;
    animation: none;
  }
}
