html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(232, 228, 228);
}

/* Landing page */
#myContainer {
}

/* ---- About me section ---- */
.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

/* Left side */
#about-me-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  width: 30%;
}

/* Right side */
#about-me-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  top: 30%;
  width: 30%;
}

#about-me-right p {
  font-size: 10px;
}

#code_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#code_logo img {
  width: 20%;
}

.about-me-icons {
}

canvas {
  display: block;
}
